.title { 
   font-family: var(--ff-title);
   font-size: var(--fs-xl);
   font-weight: normal;
   line-height: var(--fs-xl);
   
   color: var(--clr-font);

   .title--subtitle { 
      display: block;
      font-size: var(--fs-md);
      line-height: var(--fs-lg);

      color: var(--clr-font-light);
   }
}