:root { 
   --xs: .25rem;
   --sm: .5rem;
   --md: 1rem;
   --lg: 1.5rem;
   --xl: 2rem;
   --xxl: 3rem;

   --radius-xs: var(--xs);
   --radius-sm: var(--sm);
   --radius-md: var(--md);
   --radius-lg: var(--lg);
   --radius-xl: var(--xl);
   --radius-xxl: var(--xxl);
   --radius-round: 50%;

   --spacing-xs: var(--xs);
   --spacing-sm: var(--sm);
   --spacing-md: var(--md);
   --spacing-lg: var(--lg);
   --spacing-xl: var(--xl);
   --spacing-xxl: var(--xxl);

   --header-height: 10svh;
   --header-height--fallback: 10dvh;

   --fs-sm: var(--sm);
   --fs-md: var(--md);
   --fs-lg: var(--lg);
   --fs-xl: var(--xl);
   --fs-xxl: var(--xxl);

   --clr-background: #e2e8f0;
   
   --clr-primary: #4a6fa5;
   --clr-primary-light: #6e8cbb;
   --clr-primary-dark: #345888;

   --clr-secondary: #6eb4a8;
   --clr-secondary-light: #8fc9bf;
   --clr-secondary-dark: #539589;
   
   --clr-font: #2d3748;
   --clr-font-light: #4a5568;
   --clr-font-muted: #718096;

   --ff-title: "Bevan", serif;
}