@import url('./base/_reset.css');
@import url('./abstracts/_variables.css');

@import url('./partials/_header.css');
@import url('./components/_nav.css');
@import url('./components/_themer.css');

@import url('./partials/_hero.css');
@import url('./components/_title.css');

@import url('./partials/_section.css');
@import url('./components/_cards.css');

body { 
   color: var(--clr-font);
   font-weight: 600;
   font-family: Arial, Helvetica, sans-serif;

   background-color: var(--clr-background);
}