@font-face {
   font-family: 'Froles';
   src: url('../assets/fonts/froles.otf');
}


@import url('./base/_reset.css');
@import url('./abstracts/_variables.css');

@import url('./partials/_header.css');
@import url('./components/_nav.css');
@import url('./components/_themer.css');

@import url('./partials/_hero.css');
@import url('./components/_title.css');



body { 
   color: var(--clr-font);
   font-family: Arial, Helvetica, sans-serif;

   background-color: var(--clr-background);
}